@page "/counter"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    PeriodicTimer periodicTimer = new (TimeSpan.FromSeconds(1));
    protected override async Task OnInitializedAsync(){  
        
        var result = await localStorage.GetItemAsync<int?>("currentCount");
        
        currentCount = result.HasValue ? result.Value : 0;
        RunTimer();
    }

    async void RunTimer()
    {
        while (await periodicTimer.WaitForNextTickAsync()) { 
            currentCount++;
            await localStorage.SetItemAsync("currentCount", currentCount);
            StateHasChanged();
        }    
    }

    public void Dispose()
    {
        periodicTimer?.Dispose();
    }

    private void IncrementCount()
    {
        currentCount++;
    }    
}
      