@page "/nodes/runningmetrics"
@inherits BaseDataCollection
@using SharedService;
@using SharedService.Metrics;

<PageTitle>Raw Metrics</PageTitle>
<h1>RealTime Raw Metrics</h1>
<p>Ouput:</p>
@output

@code {
    string output = "... gathering metrics ...";
    PeriodicTimer periodicTimer = new (TimeSpan.FromMilliseconds(500));
    protected override Task OnInitializedAsync() {        
       RunTimer();
       return base.OnInitializedAsync();
    }

    public new void Dispose()
    {        
        periodicTimer.Dispose();
        base.Dispose();
    }
 
    async void RunTimer()
    {
        while (await periodicTimer.WaitForNextTickAsync()) { 
            var combined_output = new System.Text.StringBuilder();
            if (base.history != null) {
            var metrics = base.history.get_raw_metrics();
                foreach (var metric in metrics) {
                    combined_output.AppendLine(metric);
                }                                                                
                if (combined_output.Length > 0) {
                    output = combined_output.ToString();
                } 
            }
            StateHasChanged();
        }    
    }
  
}
      