@page "/nodes/triplesview"
@inject Services.Metrics.Poller poller
@using Services.Metrics.Models;

<PageTitle>Beaver Triples</PageTitle>
<h2>Beaver Triples Supply</h2>
<NodeView.Components.Header />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
        @if (triples != null) {
            <RadzenChart style="height: 400px">                 
                <RadzenStackedColumnSeries Data="@triples" CategoryProperty="name" Title="Count (Leader)" LineType="LineType.Dashed" ValueProperty="total_count">
                    <RadzenSeriesDataLabels Visible="true" />
                </RadzenStackedColumnSeries>                
                <RadzenValueAxis Min="0" Max="100" Step="25">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Triples" />
                </RadzenValueAxis>
                <RadzenColumnOptions Radius="5" />
            </RadzenChart>
        }   
        </div>
    </div>
</div>

@code {
    private List<ActiveActions>? actions;
    private List<NodeTripleCount>? triples;
    PeriodicTimer periodicTimer = new (TimeSpan.FromMilliseconds(500));
    protected override Task OnInitializedAsync() {        
       RunTimer();
       return base.OnInitializedAsync();
    }
    public void Dispose()
    {        
        periodicTimer.Dispose();
    }

    async void RunTimer()
    {       
        while (await periodicTimer.WaitForNextTickAsync()) { 
            if (poller.history == null) {
                continue;
            }
            triples = poller.history.get_active_triples();    
            actions = poller.history.get_active_actions();  
            StateHasChanged();           
        }    
    }


}
      