<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NodeView</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">a</span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config/contracts">
                <span class="oi oi-document" aria-hidden="true"></span> Contracts
            </NavLink>             
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config/defaults">
                <span class="oi oi-cog" aria-hidden="true"></span> Network Defaults
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config/validators">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Validators
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config/rootkeys">
                <span class="oi oi-layers" aria-hidden="true"></span> Root Keys
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pkps/list">
                <span class="oi oi-key" aria-hidden="true"></span> PKPs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="explorer/history">
                <span class="oi oi-link-intact" aria-hidden="true"></span> History
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nodes/runningmetrics">
                <span class="oi oi-calculator" aria-hidden="true"></span> Running Metrics
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nodes/triplesview">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Beaver Triples
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nodes/nodemessaging">
                <span class="oi oi-transfer" aria-hidden="true"></span> Node Messaging
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nodes/networkview">
                <span class="oi oi-command" aria-hidden="true"></span> Network View
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
