@namespace SimpleNodeOps.Shared
@inherits LayoutComponentBase
@using LitContracts.Staking
@using Microsoft.AspNetCore.WebUtilities
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
        @if (init_complete)
        {
            @Body
        }
        </article>
    </main>
</div>

@code {
    bool init_complete = false;
    protected override async Task OnInitializedAsync()
    { 
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);           
        var queryStrings = QueryHelpers.ParseQuery(uri.Query);
        queryStrings.TryGetValue("network", out var network_name);        
        network_name = network_name.ToString().ToLower();

        switch (network_name) {
            case "cayenne":
                await SetNetwork("Cayenne", "https://lit-protocol.calderachain.xyz/http", 0, "0xb82f2dB0B486F1ef698CC88F0d521D873eb04d03", "https://lit-protocol.calderaexplorer.xyz/api", 1, "https://lit-protocol.calderaexplorer.xyz/address/");
                break;
            case "manzano":
                await SetNetwork("Manzano", "https://lit-protocol.calderachain.xyz/http", 0, "0x9F0Ede26261451C5E784DC799D71ECf766", "https://lit-protocol.calderaexplorer.xyz/api", 1, "https://lit-protocol.calderaexplorer.xyz/address/");
                break;            
            default: // this is habanero
                await SetNetwork("Habanero", "https://lit-protocol.calderachain.xyz/http", 2, "0xe5a7C5d908EE8996332F488cE5f636d4EBff8522", "https://lit-protocol.calderaexplorer.xyz/api", 1, "https://lit-protocol.calderaexplorer.xyz/address/");
                break;
        }

        init_complete = true;
        
    }

    private async Task SetNetwork(string name, string url, int env, string resolverAddress,  string rpc_api_url, int rpc_api_type, string explorerUrl)
    {
        Console.WriteLine("SetNetwork:" +  name);
        var defaultPrivateKey = "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80";
        await localStorage.SetItemAsync("networkName", name);
        await localStorage.SetItemAsync("url", url);
        await localStorage.SetItemAsync("env", env);
        await localStorage.SetItemAsync("contractResolverAddress", resolverAddress);
        await localStorage.SetItemAsync("privateKey", defaultPrivateKey);
        await localStorage.SetItemAsync("rpc_api_type", rpc_api_type);
        await localStorage.SetItemAsync("rpc_api_url", rpc_api_url);
        await localStorage.SetItemAsync("explorerUrl", explorerUrl);
    }
}
 