@page "/config/contracts"
@using Radzen.Blazor.Rendering;
@using SharedService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>Contracts</PageTitle>

<h2>Contracts</h2>    
<p>
Network Contract Overview
</p>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
    Data="@contractAddresses" TItem="ContractAddress" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>       
        <RadzenDataGridColumn TItem="ContractAddress" Property="name" Title="Name" Width="160px" />
        <RadzenDataGridColumn TItem="ContractAddress" Property="address" Title="Address" Width="300px" />
    </Columns>
</RadzenDataGrid>  

@code {
    private List<ContractAddress>? contractAddresses = null;
    protected override async Task OnInitializedAsync()
    {                
        var resolver = new Resolver(localStorage);
        contractAddresses = await resolver.GetAllContractAddresses();
    }
}