@page "/config/rootkeys"
@using Radzen.Blazor.Rendering;
@using SharedService;
@using LitContracts.Staking.ContractDefinition;
@using LitContracts.PubkeyRouter;
@using System.Numerics;
@using Nethereum.Hex.HexConvertors.Extensions;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>Root Keys</PageTitle>

<h2>Root Keys</h2>    
<NodeView.Components.MinimalHeader />
<br/>
<div class="card border-primary">
  <div class="card-header  ">
    <div class="row no-gutters">
      <div class="col">
            Keys for the currently selected network.
        </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="row">
      <div class="col"> 


<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
    Data="@root_keys" TItem="SimpleRootKey" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>       
        <RadzenDataGridColumn TItem="SimpleRootKey" Property="KeyType" Title="Key Type" Width="10%" />
        <RadzenDataGridColumn TItem="SimpleRootKey" Property="Pubkey" Title="Public Key" />        
    </Columns>
</RadzenDataGrid>  


      </div>
    </div>
  </div>
</div>


@code {
    
    struct SimpleRootKey
    {
        public string Pubkey { get; set; }
        public string KeyType { get; set; }
    }

    private List<SimpleRootKey> ? root_keys = null;
    protected override async Task OnInitializedAsync()
    {                

        var resolver = new Resolver(localStorage);
        PubkeyRouterService? pubkeyRouterService = null;
        
        try {
            pubkeyRouterService =await resolver.GetPubkeyRouterService();
        } catch (Exception ex) {
            Console.WriteLine(ex.Message);
        } 

        if ( pubkeyRouterService == null  ) {
            return;
        }

        var staking_contract = await resolver.GetContractAddress(ContractType.Staking);
        var root_keys_result =  await pubkeyRouterService.GetRootKeysQueryAsync(staking_contract);

        
        root_keys = new List<SimpleRootKey>();
        foreach (var root_key in root_keys_result.ReturnValue1)
        {
            var key_type = "BLS";
            switch (root_key.KeyType.ToString()) {
                case "2": key_type = "ECDSA"; break;
                default: key_type = "BLS"; break;
            }
            root_keys.Add(new SimpleRootKey { Pubkey = "0x" + root_key.Pubkey.ToHex(), KeyType =  key_type });
        }
 
        


    }
}