<div class="card border-primary">
  <div class="card-header  ">
    <div class="row no-gutters">
      <div class="col">
        <SimpleNodeOps.Components.NetworkState />
      </div>
    </div>
  </div>
</div>