@page "/pkps/list"
@using Radzen.Blazor.Rendering;
@using SharedService;
@using LitContracts.Staking.ContractDefinition;
@using LitContracts.PubkeyRouter.ContractDefinition;
@using System.Numerics;
@using Nethereum.Hex.HexConvertors.Extensions;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>PKPs</PageTitle>

<h2>Minted PKPs</h2>    

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
    Data="@routing_data" TItem="simple_pubkey" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>       
        <RadzenDataGridColumn TItem="simple_pubkey" Property="pubkey" Title="Public Key" Width="40%" />
        <RadzenDataGridColumn TItem="simple_pubkey" Property="derived_id" Title="Derived Id" Width="40%" />
        <RadzenDataGridColumn TItem="simple_pubkey" Property="key_type" Title="Key Type" Width="20%" />
    </Columns>
</RadzenDataGrid>  


@code {
    struct simple_pubkey
    {
        public string pubkey;
        public string derived_id;
        public string key_type;
    }
    
    private List<simple_pubkey> ? routing_data = null;
    private BigInteger total_staked = 0;
    protected override async Task OnInitializedAsync()
    {                
        var resolver = new Resolver(localStorage);  

        var pkpnftService = await resolver.GetPkpnftService();
        var pkpnftAddress = await resolver.GetContractAddress(ContractType.PKPNFT);
        var pubkeyRouterService = await resolver.GetPubkeyRouterService();
        var pubkeyRouterAddress = await resolver.GetContractAddress(ContractType.PubkeyRouter);
       
        var contract =  pkpnftService.ContractHandler.EthApiContractService;
        var contract2 = contract.ERC721.GetContractService(pkpnftAddress);
        var totalSupply = await contract2.TotalSupplyQueryAsync();
        routing_data = new List<simple_pubkey>();

        for (int i = 0; i < 10 ; i++ )
        {
            if (i >= totalSupply)
            {
                break;
            }
            var tokenId = await contract2.TokenByIndexQueryAsync(0);
            var a = await pubkeyRouterService.PubkeysQueryAsync(tokenId);
            var b = a.ReturnValue1;                
            routing_data.Add(new simple_pubkey{ pubkey = b.Pubkey.ToHex(), derived_id = b.DerivedKeyId.ToHex(), key_type = "ECDSA" });
        }

    }
}