<div class="card border-primary">
  <div class="card-header  ">
    <div class="row no-gutters">
      <div class="col">
        <NodeView.Components.NetworkState />
      </div>
      <div class="col d-none d-sm-block">      
          <NodeView.Components.Actions />
      </div>
    </div>
  </div>
</div>

